@model Complain.Models.Complaint

@{
    ViewData["Title"] = "Delete Complaint";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<style>
    .white-text,
    .white-text dt,
    .white-text dd,
    .white-text h2,
    .white-text h4,
    .white-text a.btn,
    .white-text button.btn {
        color: white !important;
    }

    .white-text {
        margin-top: 70px; /* push content down so navbar doesn’t overlap */
    }

    .white-text .card {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid white;
    }

    .white-text a.btn-secondary {
        background-color: transparent;
        border-color: white;
        color: white;
    }

    .white-text a.btn-secondary:hover {
        background-color: white;
        color: black;
        border-color: white;
    }

    .white-text button.btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
    }

    .white-text button.btn-danger:hover {
        background-color: #bd2130;
        border-color: #b21f2d;
        color: white;
    }
</style>

<div class="white-text">
   
    <h4 style="text-align: center;">Are you sure you want to delete this complaint?</h4>

    <div class="card p-3">
        <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Title:</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">@Model.Status</dd>
        </dl>
    </div>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
