@model LoginModel 
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}



<div class="form-wrapper">
  <form asp-action="Login" method="post" class="form-container" novalidate>
    <h2>Login</h2>

    <div>
      <label asp-for="Email">Email</label>
      <input asp-for="Email" class="form-control" type="email" placeholder="Enter your email" autocomplete="username" />
    </div>

    <div>
      <label asp-for="Password">Password</label>
      <input asp-for="Password" class="form-control" type="password" placeholder="Enter your password" autocomplete="current-password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <p class="message">@ViewBag.Message</p>

    <div class="links">
      <a asp-action="ForgotPassword">Forgot Password?</a> |
      <a asp-action="Register">Register</a>
    </div>
  </form>
</div>


