@{
    ViewData["Title"] = "About us ";
}
<h1>@ViewData["Title"]</h1>


<p>
ComplainEase is a centralized platform designed to simplify the complaint submission and resolution process within an organization. 
Whether you’re a student, staff, or administrator — it ensures your voice is heard, tracked, and acted upon efficiently.
</p>

